*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    background: url('pexels-johannes-plenio-1118873.jpg');
    backdrop-filter: blur(0.4rem);
    background-size: cover;
    flex-direction: column;
    font-family: 'Rowdies', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.main-div{
    padding: 5rem;
    padding-right: 12rem;
    /* background-color: yellowgreen; */
    /* opacity: 0.4; */
    border-radius: 3rem;
    color: white;
    width: 100%;
    max-width: 42rem;
    background: #000000d0;
    font-size: 2rem;
}

.search-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* opacity: 1; */
    /* padding-top: 0; */
    padding-bottom: 4rem;
}

button{
    border-radius: 50%;
    border: navajowhite;
    height: 4.4rem;
    margin-left: 1rem;
    width: 4.4rem;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
  }

input{
    border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 2.4rem;
  background: #7c7c7c2b;
  color: white;
  /* font-family: inherit; */
  font-size: 105%;

}
  
.weather{
    display: flex;
    /* opacity: 1; */
    flex-direction: column;
    align-items: flex-start;
}


.temp{
    padding-top: 2.3rem;
    font-size: 3rem;
    /* font-weight: 100; */
}



@media (max-width:728px){
    body{
      /* background-color: red; */
    }

    html{
        font-size: 40%;
    }
  }

